.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
    margin-bottom:15%;
}
.modal-body input{
    padding:4px 9px;
    margin:5px;
    border:1px solid #ddd;
    border-radius:3px;
    width:249px;
    color:#444;
}
.btn-secondary{
    border:1px solid #ddd;
    background-color:#eee;
}
button.btn-primary{
    text-shadow:0px 0px 5px rgba(0,0,0,.3);
}
.modal h4{
    color:#444;
}
/* select */
div.Select-control{
    margin:5px;
    border:1px solid #ddd;
    border-color:#ddd !important;
    border-radius:3px;
    width:249px;
    text-align:left;
    margin-left:9px;
    height:30px;
}
div.Select-control:hover{
    box-shadow:none;
}
div.Select-input{
    height:28px;
}
div.Select--multi .Select-value{
    margin-top:4px;
}
div.Select-placeholder{
    line-height:30px;
}
div.Select.is-focused .Select-control{
    border-color:auto;
    box-shadow:none;
    outline:-webkit-focus-ring-color auto 5px;
}
div.Select--multi .Select-value{
    line-height:16px;
    background-color:rgb(254, 209, 54);
    color:white;
    font-weight:600;
    text-shadow:0px 0px 3px rgba(0,0,0,.2);
    border:none;
}
div.Select--multi .Select-value-icon{
    border-right:none;
    font-size:15px;
    line-height:16px;
    padding:1px 0px 3px 5px;
}
div.Select--multi .Select-value-icon:active, 
div.Select--multi .Select-value-icon:focus,
div.Select--multi .Select-value-icon:hover
{
    background-color:transparent;
    color:#666;
}
.Select-clear{
    line-height:21px;
    font-weight:500;
}
.Select-control .Select-clear-zone:hover{
    color:#444;
}
.Select .Select-menu-outer{
    width:249px;
    margin-top:1px;
    margin-left:9px;
    z-index:1000;
}
.Select .Select-option{
    font-size:13px;
    padding:6px 8px;
    text-align:left;
}
div.Select-input > input{
    font-size:14px;
    padding:5px 0px 5px;
}

i.closeModal{
    position:absolute;
    color:#bbb;
    right:8px;
    top:6px;
    font-size:24px;
    text-shadow:none;
    cursor:pointer;
}
i.closeModal:hover{
    color:#999;
}