.btn-xl.fixed{
	position:fixed;
	right:20px;
	top:63px;
	box-shadow:1px 1px 5px rgba(0,0,0,.5) !important;
	z-index:1000;
	padding:11px 25px;
	font-size:14px;
}
.btn-xl{
	background-color:#F2BE35;
	border-color:#F2BE35;
	text-shadow:0px 0px 5px rgba(0,0,0,.3);
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus{
	color:#F2BE35;
}
.navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
	background-color:#f2be35;
}
i.fa{
	text-shadow:0px 0px 5px rgba(0,0,0,.3);
}
i.fa.text-primary{
	color:#f2be35 !important;
	text-shadow:none;
}
.navbar-custom .navbar-nav > .active > a{
	text-shadow:0px 0px 5px rgba(0,0,0,.3);
}